.root{
    flex-grow: 1;
}

.headline{
    margin-top: 50px;
    text-align: center;
}

.heading{
    font-size: 35px;
}

.homeOptions{
    display: flex;
    flex-direction: column;
}

.homeOptionsTop{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.homeOptionsItem{
    /* background-color: aqua; */
    /* width: 200px; */
    /* padding: 16px; */
    border-radius: 8px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.homeOptionsBottom{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}